.categoriesList{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
}
.list{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    height:390px;
    width:700px;
    border-radius: 16px;
    background-color: #c6eaee;
    transition: transform 0.3s, box-shadow 0.3s;
}
.list:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.optionm{
    display:flex;
    color:black;
    flex: 1  1  33.33% ;
    padding: 10px;
    justify-content: center;
}
h1{
    font-size:50px;
}
