.childrenimage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 666px; 
    width: 100%;
} 

/* .childrenimagecontainer{
    position: relative;
    display: inline-block;
} */
.textover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 255, 255, 0.7); */
    padding: 10px;
    border-radius: 5px;
}