.nb {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    /* background-color: #007ab6; */
    background-color: #2F27CE;
    height:31px;
    color: white;
}

.logo-and-title{
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
}

.options-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.options{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.option{
    text-decoration: none;
    color: white;
    margin: 10px 10px;
    padding-right: 22px;
    font-size: 23px;
    font-weight: 700;
}

.head {
    font-size: 28px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:flex;
    justify-content: flex-start;
    margin-top: 28px;
}

.burger-menu {
    cursor: pointer;
}

.line {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px 0;
}

.menu-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color:#065A82;
    color:white;
    text-decoration: none;
}

.menu-options div {
    margin: 5px 0;
    cursor: pointer;
}
.menuoptions{
    text-decoration: none;
    color: white;
    padding:5px;
}